USE [master]
GO
/****** Object:  Database [LIMEBASE]    Script Date: 23.06.2013 13:36:39 ******/
CREATE DATABASE [LIMEBASE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LIMEBASE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MAINPCSQL\MSSQL\DATA\LIMEBASE.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LIMEBASE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MAINPCSQL\MSSQL\DATA\LIMEBASE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIMEBASE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIMEBASE]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 23.06.2013 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderId] [int] IDENTITY(1,1) NOT NULL,
	[GenderName] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Params]    Script Date: 23.06.2013 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Params](
	[ParamId] [int] NOT NULL,
	[ParamName] [nvarchar](255) NOT NULL,
	[ParamType] [int] NOT NULL,
	[ParamPersonId] [int] NOT NULL,
	[ParamValue] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Params] PRIMARY KEY CLUSTERED 
(
	[ParamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ParamValues]    Script Date: 23.06.2013 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParamValues](
	[ParamValueId] [int] IDENTITY(1,1) NOT NULL,
	[ParamId] [int] NOT NULL,
	[ParamValueText] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ParamValues] PRIMARY KEY CLUSTERED 
(
	[ParamValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Persons]    Script Date: 23.06.2013 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[PersonCode] [nvarchar](50) NOT NULL,
	[PersonFullName] [nvarchar](255) NOT NULL,
	[PersonGender] [int] NOT NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Gender]  WITH CHECK ADD  CONSTRAINT [FK_Gender_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([GenderId])
GO
ALTER TABLE [dbo].[Gender] CHECK CONSTRAINT [FK_Gender_Gender]
GO
ALTER TABLE [dbo].[Params]  WITH CHECK ADD  CONSTRAINT [FK_Params_Persons] FOREIGN KEY([ParamPersonId])
REFERENCES [dbo].[Persons] ([PersonId])
GO
ALTER TABLE [dbo].[Params] CHECK CONSTRAINT [FK_Params_Persons]
GO
ALTER TABLE [dbo].[ParamValues]  WITH CHECK ADD  CONSTRAINT [FK_ParamValues_Params] FOREIGN KEY([ParamId])
REFERENCES [dbo].[Params] ([ParamId])
GO
ALTER TABLE [dbo].[ParamValues] CHECK CONSTRAINT [FK_ParamValues_Params]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [FK_Persons_Gender] FOREIGN KEY([PersonGender])
REFERENCES [dbo].[Gender] ([GenderId])
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [FK_Persons_Gender]
GO
USE [master]
GO
