body {
    background-color: lightgray
}

#workspace {
    background-color: white;
    border-right: solid 1px #696969;
    border-left: solid 1px #696969;
    height: 720px;
    width: 100%;
}

#footer {
    height : 50px;
    border-right: solid 1px #696969;
    border-left: solid 1px #696969;
    width: 100%;
    background-image:url('../Images/footer.png');
}

#copyright {
    color: whitesmoke;
    float: right;
    padding-right: 20px;
    padding-top: 15px;
    font-family: 'Text Me One', sans-serif;
    display: block;
}


#header {
    
    height: 100px;
    background-image:url('../Images/header.png');
    
}


#logo {
    font-family: 'Marcellus SC', serif;
    font-size: 60px;
    color: whitesmoke;
    margin-left: 30px;
    padding-top: 10px;
    width: 50%;
    float: left;
}

.login-form {
    background-color: #c0c0c0;
    border: solid 1px #696969;
    display: block;
    padding: 20px;
    margin-left: auto;
	margin-right: auto;
	width: 350px;
    color: whitesmoke;
}

#user-id {
    margin-left: 30px;
    padding-top: 30px;
}

#params div {
    text-align: left;
}


.user-params tr{
    border-top: solid 1px #696969;
    border-bottom: solid 1px #696969;
    height: 40px;
    font: normal 13px Arial, Helvetica, sans-serif;
    color: #333;
}

.lookup-field-editor-cell {
    
}


